ul {
  list: none;
}

.octodex {
  display: inline-flex;
  position: fixed;
  width: 80%;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
}
.octocat a img {
  height: 400px;
  border: 1px solid grey;
}
.octocat a {
  padding: 10px;
}
div {
  height: 130px;
  text-decoration: none;
  width: 100%;
}
.authors img {
  max-height: 50px;
  border-radius: 10px;
  display: block;
  padding-right: 20px;
}
image-footer {
  padding: 2px;
}
image-caption {
  display: flex;
  justify-content: space-between;
}
